@import "tailwindcss";

@theme inline {
    --font-sans: 'Geist Variable', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}

@theme {
    --color-gris: #57675c;
    --color-parrafos: #6d8073;
    --color-verde-brillante: #02af65;
    --color-enfasis: #02d67c;
}

body {
    font-family: var(--font-sans);
}
