@import "tailwindcss";

@theme inline {
    --font-sans: 'Geist Variable', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}

@theme {
    --color-gris: #57675c;
}

body {
    font-family: var(--font-sans);
}
